.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  display: block;
  border-width: 8px;
  border-style: solid;
  box-sizing: border-box;
  border-image: linear-gradient(45deg, transparent, transparent, transparent) 1;
  transition: border-image 0.1s ease-in-out;
  box-sizing: border-box;
}

.image-container:hover img,
.image-container.active img {
  cursor: pointer;
  border-image: linear-gradient(45deg, #ffe622, #ff54fd, #2196f3) 1;
}

.image-container.inactive img {
  filter: grayscale(100%);
}
