body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: #efeffd;
}

@font-face {
  font-family: 'Staatliches';
  src: url('./../fonts/Staatliches/Staatliches-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
